
.button {
  background: none;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  height: 20px;
  padding: 0;
  vertical-align: top;
  width: 20px;
  &.pressed {
    border: 0.5px solid #bbb;
  }
}
.icon {
  font-size: 12px;
}
.mine-1 {
  color: blue;
}
.mine-2 {
  color: green;
}
.mine-3 {
  color: red;
}
.mine-4 {
  color: navy;
}
.mine-5 {
  color: maroon;
}
.mine-6 {
  color: turquoise;
}
.mine-7 {
  color: black;
}
.mine-8 {
  color: lightgray;
}
